$xxx-large: 54px
$xx-large: 36px
$x-large: 27px
$large: 22px
$medium: 18px
$small: 14px
$x-small: 8px
$xx-small: 4px

$white: #ffffff
$gray: #707070
$gray-l: #b0b0b0
$gray-h: #303030
$red: #fe0909
$blue: #00cbff
$green: #4ecb74

@font-face
  font-family: 'RictyDiminished-with-FiraCode'
  font-weight: normal
  src: url(../font/RictyDiminished-with-FiraCode-Regular.ttf)
@font-face
  font-family: 'RictyDiminished-with-FiraCode'
  font-weight: bold
  src: url(../font/RictyDiminished-with-FiraCode-Bold.ttf)

body
  font-family: RictyDiminished-with-FiraCode
  font-size: $medium

input
  font-family: inherit

header.header
  display: flex
  justify-content: flex-end

  .content
    border-bottom: 1px solid black
    height: 5vh
    width: 10vw

.page.blog
  display: flex
  justify-content: center

  .left-area, .right-area
    vw: 20vw

  .central-area
    margin: 0 5vw

.page.blog-edit
  display: flex
  justify-content: space-between

  .left-area
    width: 50%
  .right-area
    margin-right: 54px
    max-width: 45%
    min-width: 36%
    width: 704px

  .title
    align-self: flex-start
    border-bottom: 1px solid $gray
    margin-bottom: $xx-large

    .pretext
      font-size: $large

    input
      border: none
      font-size: $medium
      outline: none

  .edit-area
    align-self: center
    display: flex
    height: 60vh

    .input
      width: 45vw

      textarea
        border: none
        height: 100%
        width: 100%

    .rendered
      width: 45vw

  .tags
    border-bottom: 1px solid $gray
    margin: $xx-large 0 $x-large
    width: 400px

    .pretext
      font-size: $large

    input
      border: none
      font-size: $medium
      outline: none


  .btn-save
    align-self: flex-end
    background: none
    border: 1px solid $gray
    border-radius: 27px
    padding: 4px 12px
